* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box*/;
}

body {
  background: rebeccapurple;
  
}

p > span{
  color: aqua;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px ;
  margin: 40px 60px 80px 10px;
  margin: 120px 200px;
  margin: 100px 90px 80px;
}

.caja {
  width: 200px;
  height: 150px;
  background-color: crimson;
  margin: 80px;
  border: 10px solid #000;
  color: #fff;
  padding-top: 30px;
  padding-right:150px ;
  padding-left: 50px;
  padding-bottom:12px ;
}